  <div class="title">
    <h1 class="display-3">Cart</h1>
    <i class="fa-thin fa-ampersand"></i>
  </div>

<ul>
  <% @cart.each do |product| %>
  <li><%=product["name"]%></li>
  <%end%>
</ul>


  <div class="alert-primary">On the way!</div>
  <a href="/">Keep shopping</a>


